.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
:root .theme_dark {
  --desktop-shadow-title: #ff0070;
  --accent-color: #ff0070;
  --accent-color-text: #ff0070;
  --hover-button: rgba(255, 0, 112, 0.4);
  --title-color: #db00ff;
  --subtitle-font-color: #000028;
  --font-color: #f1b2ce;
  --background-color: #000028;
  --image: url(../images/cover-image-dark.png);
  --font: IBM Plex Mono;
}
