.page.theme_dark {
  --desktop-shadow-title: #ff0070;
  --accent-color: #ff0070;
  --accent-color-text: #ff0070;
  --hover-button: rgba(255, 0, 112, 0.4);
  --title-color: #db00ff;
  --subtitle-font-color: #000028;
  --font-color: #f1b2ce;
  --background-color: #000028;
  --image: url(../images/cover-image-dark.png);
  --font: IBM Plex Mono;
  --small-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --large-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
