.page.theme_light {
  --desktop-shadow-title: #ff0070;
  --accent-color: #ff8dcb;
  --accent-color-text: #353430;
  --hover-button: rgba(50, 49, 45, 0.4);
  --title-color: #ffc2e6;
  --subtitle-font-color: #353430;
  --font-color: #353430;
  --background-color: #fff1f7;
  --image: url(../images/cover-image-light.png);
  --font: IBM Plex Mono;
  --small-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --large-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --accent-color-text: #353430;
    --hover-button: rgba(50, 49, 45, 0.4);
    --title-color: #ffc2e6;
    --subtitle-font-color: #353430;
    --font-color: #353430;
    --background-color: #fff1f7;
    --image: url(../images/cover-image-light.png);
    --font: "IBM Plex Mono";
  }
  .decoration {
    display: none;
  }
}

.page.theme_light .decoration {
  display: none;
}
