.page {
  max-inline-size: 1440px;
  width: 100%;
  background-image: var(--image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font), monospace;
  font-size: 18px;
  font-weight: 400;
}
.header {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr fit-content;
  padding: 10px;
  min-height: 100vh;
}
.decorated-zone:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color-text);
  border-block-start: 1px solid var(--accent-color-text);
}
.decorated-zone:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color-text);
  border-block-end: 1px solid var(--accent-color-text);
}
.decoration::before {
  content: "REC";
  position: absolute;
  right: 38px;
  color: var(--accent-color);
  text-align: center;
  line-height: 138.889%;
}
.decoration:after {
  content: "";
  position: absolute;
  right: 11px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  margin: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px var(--accent-color);
}
.header__theme-menu-list {
  display: grid;
  margin-block-start: 65px;
  margin-inline-end: -3px;
  grid-template-columns: 78px;
  grid-template-rows: repeat(3, 23px);
  gap: 13px;
  justify-content: end;
  align-items: center;
  justify-items: center;
  line-height: 100%;
  color: var(--accent-color-text);
}
.header__theme-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__theme-menu-button:hover {
  border: 1px solid var(--hover-button);
  padding: 3px 12px;
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color-text);
}
.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color-text);
  padding: 3px 12px;
}

.wrapper {
  margin-block-end: 44px;
}
.title {
  padding-block: 68px 55px;
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--title-color);
}
.title-decor {
  font-size: inherit;
  margin-block-end: 10px;
  background-color: var(--accent-color);
  color: var(--subtitle-font-color);
  line-height: 130%;
  font-weight: 400;
}
.title-decor_margin-block-end {
  margin-block-end: 20px;
}
.title-decor_margin-block-start {
  margin-block-start: 30px;
}
.title-decor_bold {
  font-weight: 700;
}
.link {
  text-decoration: none;
  text-shadow: 2px 1px 0px var(--accent-color);
  cursor: pointer;
}
.link:hover {
  border-block-end: 1px solid var(--font-color);
}
.link:focus {
  outline: none;
}
.link:focus-visible {
  outline: 1px solid var(--font-color);
}

.main {
  padding: 0 10px 40px;
}
.subtitle {
  padding: 30px 0 20px;
  font-size: inherit;
  color: var(--accent-color-text);
  font-weight: 700;
  line-height: 130%;
}
.subtitle_padding-block-start {
  padding-block-start: 40px;
}
.text {
  padding: 0px 0px 20px;
  line-height: 130%;
  color: var(--font-color);
}
.image-container {
  display: grid;
  gap: 10px;
}
.image {
  width: 100%;
}
.footer {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 15px;
}
.footer__title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
}

@media (768px <= width < 1024px) {
  .header {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px;
  }
  .header__theme-menu-list {
    margin-block-start: 173.5px;
    margin-inline-end: 1px;
  }
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-block-start: 35px;
    margin-block-start: 80px;
    margin-inline-start: -20px;
  }
  .decorated-zone:after {
    top: 20px;
    right: 20px;
  }
  .decorated-zone:before {
    bottom: 20px;
    left: 20px;
  }
  .decoration::before {
    right: 48px;
  }
  .decoration:after {
    right: 20px;
  }
  .header__theme-menu-list {
    grid-template-columns: none;
  }
  .wrapper {
    display: flex;
    justify-self: flex-end;
    width: 50%;
    height: fit-content;
    margin-block-start: 49px;
    margin-block-end: 152px;
  }
  .main {
    padding-inline: 20px;
    padding-block-end: 60px;
  }
  .columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    padding-block-start: 60px;
  }
  .subtitle {
    padding-block-start: 0px;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .title-decor {
    grid-column: 2 / -1;
  }
  .text {
    grid-column: 2 / -1;
  }
  .title-decor_margin-block-start {
    margin-block-start: 60px;
  }
  .image {
    object-fit: cover;
    height: 100%;
  }
  .image-container {
    display: grid;
    gap: 20px;
    margin-block-start: 20px;
  }
  .image__sunset {
    grid-column: 1 / 3;
  }
  .image__ice-cream {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
  }
  .image__tape {
    grid-row: 2 / 4;
  }
  .image__street {
    grid-column: 2 / 4;
  }
  .footer {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (1024px <= width) {
  .header {
    display: grid;
    grid-template-rows: fit-content 1fr 1fr;
    padding: 20px;
  }
  .title {
    text-shadow: 4px 4px 0px var(--desktop-shadow-title);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
    padding-block-start: 275px;
  }
  .header__theme-menu-list {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-block-start: 0;
  }
  .decorated-zone:after {
    top: 20px;
    right: 20px;
  }
  .decorated-zone:before {
    bottom: 20px;
    left: 20px;
  }
  .decoration::before {
    right: 48px;
  }
  .decoration:after {
    right: 20px;
  }
  .wrapper {
    display: flex;
    justify-self: flex-end;
    width: 50%;
    height: fit-content;
    margin-block-start: 58px;
    margin-block-end: 106px;
  }
  .columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 8px;
    padding-block-start: 60px;
  }
  .subtitle {
    padding-block-start: 0px;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
  .main {
    padding-inline: 20px;
    padding-block-end: 60px;
  }
  .desktop-columns {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .title-decor {
    grid-column: 2 / -1;
  }
  .title-decor_margin-block-start {
    margin-block-start: 60px;
  }
  .text {
    grid-column: 2 / -1;
  }
  .image {
    object-fit: cover;
    height: 100%;
  }
  .image-container {
    display: grid;
    gap: 20px;
    margin-block-start: 20px;
  }
  .image__sunset {
    grid-column: 1 / 3;
  }
  .image__ice-cream {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
  }
  .image__tape {
    grid-row: 2 / 4;
  }
  .image__street {
    grid-column: 2 / 4;
  }
  .footer {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 4px 4px 0px var(--desktop-shadow-title);
  }
}
